body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  background: #ffffff;
  margin: 0px;
}

html {
  scroll-padding-top: 72px;
  /* height of sticky header */
}

/* change theme*/
.theme {
  color: white;
  background-color: black;
}

/* Header/Logo Title */
.header {
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 120px;
  text-align: left;
  color: #fff1e4;
  font-size: 25px;
}

.navbar {
  z-index: 10;
  background-color: #fff7f0;
  position: fixed;
  display: flex;
  width: 100%;
  height: 72px;
  align-items: center;
  /* overflow: hidden; */
  top: 0;
  border: 2px #000;
  border-bottom-style: solid;
  padding-right: 15px;
  justify-content: center;
}

.nav-icon {
  width: 40px;
  height: 40px;
  background-color: #eaedff;
  border: 1px solid #000;
  border-radius: 5px;
  transition: all .2s;
  box-shadow: 0 5px #000000;
  padding: 0px;
  /* text-align: center;
  vertical-align: auto;
  display: flex; */
}

.navbar li a {
  float: right;
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size:  1rem;
}

.nav-icon-wrapper {
  grid-column-gap: 5px;
  justify-content: flex-end;
  display: flex;
  margin: 0px;
}

.nav-icon-wrapper a {
  font-size: 1.1rem;
}

.ham-icon {
  margin: 20px;
}

/* navigation */
ul {
  list-style-type: none;
  padding: 0;
  justify-content: center;
  align-items: center;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  top: 0;
}

li {
  float: left;
}

li a {
  /* width: 100px; */
  display: block;
  text-align: center;
  padding: 15px 10px 15px 10px;
  text-decoration: none;
  border-radius: 10px;
  color: #000;
  margin: 5px;

}

.nav-icon:active {
  transform: translateY(6px);
  box-shadow: 0 2px #000000;
  background-color: #152372;
}

.nav-icon:hover {
  background-color: #f0f2ff;
}

li a:hover {
  background-color: #ff935e;
}

.navbar .nav-menu .active {
  color: rgb(180, 60, 0);
  /* background-color: #ffe1c4; */
}


.about-text {
  font-size: 1.1rem;
  width: 80%;
  font-weight: 300;
  font-family: 'DM Sans', Helvetica, Arial, sans-serif;
}

/* img {
  padding: 5px;
} */

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 45%;
  padding: 10px;
  height: 100px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}




/*  Contact */
.row {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 250px;
  padding-left: 120px;
  text-align: left;
  color: #005239;

}


/*  tooltip */
.ui-tooltip {
  max-width: 220px;
}

/*  Resume */
.container {
  border-radius: 5px;
  border-width: 7px;
  border-color: #00093a;
  background-color: rgb(185, 223, 209);
  padding: 30px;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

}

th,
td {
  text-align: left;
  padding: 8px;
  padding-top: 30px;

}

td {
  height: 70px;
  vertical-align: text-top;
}

th {
  border-top: 0.5px solid rgb(189, 189, 189);
  width: 1%;
}

/* More me */
.column-gallery {
  -ms-flex: 33%;
  flex: 33%;
  max-width: 33%;
  padding: 0 3px;


}

.column-gallery img {
  margin-top: 10px;
  vertical-align: middle;
  width: 400px;
  height: 400px;
  transition: transform .2s;
  object-fit: cover;
  border-radius: 20px;
}

.column-gallery img:hover {
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.row-gallery {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-right: 100px;
  padding-bottom: 100px;
  padding-left: 100px;
  
  
}

* {
  box-sizing: border-box;
}


/* footer */
footer {
  padding-left: 120px;
  bottom: 10%;
  margin-top: 120px;
}

.content {
  min-height: 600px;
}


.text {
  width: 30%;
  border: 1px solid #ccc;
  padding: 22px 22px;
  border-radius: 8px;
  font-size: 1rem;
}

/* Project page */
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(233, 255, 31);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #3755ff;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* social link at footer */
.fa {
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  align-content: center;
  /* margin: 1px 2px; */
  border-radius: 20%;
  color: black;
}

.fa:hover {
  opacity: 0.7;
}

.home-body {
  background-color: #ffffff;
  height: 520px;
  margin-top: 0px;
  margin-bottom: 0;
  padding-bottom: 80;
  /* overflow: visible; */
}

.home-inner {
  /* border: 2px solid #1d1d1d;
  border-radius: 20px;
  background-color: #eaedff; */
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 928px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  position: relative;
  top: 80px;
}

.home-text {
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 3rem;
  font-weight: bolder;
  color: #000000;
}

.home-header {
  background-color: #ffffff;
  color: #000000;
  margin-top: 0px;
  margin-bottom:0px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 3rem;
  font-weight: 200;
  text-align: center;
  position: relative;

}
.home-title {
  color: #000000;
  margin-top: 0px;
  margin-bottom:0px;
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 25px;
  font-weight: 200;
  text-align: center;
  position: relative;
  font-family: 'DM Sans', Helvetica, Arial, sans-serif;
}

.home-profile {
  border: 2px solid #1d1d1d;
  border-radius: 50%;
  margin-top: 5;
  margin-bottom: 5;
}

#section {
  width: 100%;
  height: 100%;
  scroll-padding-top: 0;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  

}

.badge {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.badge-about {
  text-align: left;
}

#about {
  background-color: #fff7f0;
  min-height: 30px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.about{
  width: 100%;
  align-items: center;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
}

.about-header {
  margin-top: 0px;
  margin-bottom: 10px;
}
.about-header-sec{
  display: flex;
  align-items: center;
  justify-content: center;
}

#about-grid-content {
  /* grid-area: span 1 / span 5 / span 2 / span 8;
  align-self: center;
  justify-self: start; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image {
  /* border: 2px solid #1d1d1d; */
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.about-image {
  /* border: 2px solid #1d1d1d; */
  border-radius: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  object-fit: cover;
  min-width: 200px;
  min-height: 200px;
  width: 60%;
  height: auto;
}

.position-relative {
  position: relative;
}


#border-bottom {
  border-bottom: 2px solid #1d1d1d;
}

#background-purple {
  background-color: #fffaf1;
}

.badge-text {
  color: #000000;
  text-transform: uppercase;
  background-color: #ffe1c4;
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 10px;
  font-family: 'DM Sans', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 1000;
  display: inline-block;
}

.flex-item-left {
  font-family: 'DM Sans', Helvetica, Arial, sans-serif;
  /* padding: 30px; */
  align-items: center;
  justify-content: center;
  flex: 100%;
  width: 100%;
  height: 50%;
  margin-bottom: 50px;
  display: inline-block;
}

.flex-item-right {
  font-family: 'DM Sans', sans-serif;
  align-items: center;
  justify-content: center;
  flex: 100%;
  width: 100%;
  height: 50%;
  margin-bottom: 50px;
  display: inline-block;
}

.flex-container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
}

/* Mobile View */
@media screen and (min-width:250px) and (max-width:720px) {
  .about {
    width: 100%;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
  }

  .about-grid-content {
    width: 100px;
  }

  .column-gallery {
    flex: 100%;
    max-width: 100%;
  }

  .nav-menu-mobile {
    display: none;
    position: absolute;
    background-color: #eee2dc;
    min-width: 70px;
    max-width: 200px;
    height: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    overflow: visible;
  }

  .nav-menu-mobile ul {
    min-width: 0px;
  }

  .nav-menu-dropdown {
    position: relative;
    display: inline-block;

  }

  .nav-menu-dropdown:hover .nav-menu-mobile {
    display: block;
  }

  .nav-menu {
    display: none;
  }

  .design-container {
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
    transform: perspective(1200px);
  }

  .design-item-left {
    flex-direction: column-reverse;
    position: relative;
    width: 100%;
    flex: 100%;
    margin-left: 0;
    margin-right: 0;
    display: flex;

  }

  .design-item-right {
    flex-direction: column-reverse;
    width: 100%;
    min-width: 410px;
    margin-right: 0;
    padding-bottom: 0;
    flex: 100%;
    display: flex;
  }

  
}


/* Laptop View */
@media screen and (min-width:720px) {
  .about {
    width: 100%;
    justify-content: center;
    align-items: center;
    
    display: flex;
  }

  .flex-item-right {
    flex: 50%;
  }

  .flex-item-left {
    flex: 50%;
  }

  .nav-menu-dropdown {
    display: none;
  }

  .nav-menu {
    display: block;
    min-width: 550px;
  }

  .design-container {
    width: 66%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0;
  }

}

.background-blue {
  background-color: #f3f0ff;
}

.design-container 
img:hover {

  transform: scale(1.04);
}

.flex-container
img:hover {
  
  transform: scale(1.04);
}



.project-image {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s ease;
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  object-fit: cover;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  height: 40%;
}

.view-project-btn {
  background-color: rgb(46, 55, 122);
  /* border: #1a2536 solid 2px; */
  border-radius: 8px;
  color: #ffffff;
  /* display: inline-block; */
  font-family: 'DM Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  width: 170px;
  height: 48px;
  padding: 6px;
  display: flex;
  cursor: pointer;
  transition: all 160ms ease-in;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin-right: 10px;
  max-width: 100%;
  position: relative;
  /* transition: all .2s; */
  box-shadow: 0 5px #000000;
}

.view-project-btn:active {
  transform: translateY(7px);
  box-shadow: 0 2px #000000;
  background-color: #152372;
}

.view-project-btn:hover {
  background-color: #525b8f;
}

.view-project-btn:active {
  background-color: #0b0e1a;
  /* transform: scale(0.95); */
}

.btn-image {
  max-width: 35px;
  margin-left: 5px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  color: white;
}

.btn-list {
  width: 400px;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-header {
  font-size: 22px;
  font-weight: 800;
  width: 80%;
  text-align: center;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 0px;
  margin-bottom: 5px;
}

.project-text {
  font-size: 16px;
  font-weight: 300;
  width: 80%;
  text-align: center;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 4px;
}

.project-text-stack {
  font-size: 14px;
  font-weight: 300;
  width: 80%;
  text-align: center;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 4px;
}

.design-image {
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s ease;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  object-fit: cover;
  /* max-width: 650px; */
  width: 100%;
  height: auto;
}

.design-container {
  font-size: 30px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
}

.design-item-left {
  position: relative;
  margin-right: 30px;
  width: 100%;
  /* flex: 50%; */
  display: inline-block;
  flex: 1;
}

.design-item-right {
  width: 100%;
  min-width: 400px;
  margin-right: 0;
  padding-bottom: 0;
  /* flex: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.design-header {
  width: 100%;
  flex-direction: row;
  margin-top: 0px;
  margin-bottom: 10px;

}

.design-item-header {
  color:  rgb(46, 55, 122);
  margin: 0;
  text-transform: uppercase;
  text-align: left;
  font-size: 16px;
  /* width: 60%; */
  font-weight: 300;
  margin: 0;
  font-family: 'DM Sans', Helvetica, Arial, sans-serif;
}

.design-item-text {
  text-align: left;
  font-size: 50px;
  /* width: 60%; */
  padding-bottom: 10px;
  font-weight: 900;
  margin: 0;
  font-family: 'DM Sans', Helvetica, Arial, sans-serif;
}
.design-btn{
  margin-bottom: 20px;

}

.tags-wrapper {
  flex-wrap: wrap;
  margin-bottom: 0;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.tag {
  background-color: #fff;
  color: #393a7d;
  margin-bottom: 16px;
  margin-right: 16px;
  padding: 6px 10px;
  font-size: 13px;
  font-weight: bold;
  line-height: 16px;
}



.dev-tag {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  background-color: #eaedff;
  color: #393a7d;
  margin-bottom: 16px;
  margin-right: 16px;
  padding: 6px 10px;
  font-size: 13px;
  font-weight: 900;
  line-height: 16px;
}
.dev-tags-wrapper {
  flex-wrap: wrap;
  margin-bottom: 0;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
}
.detail-main{
  margin-top: 100px;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.design-summary{
  grid-row-gap: 0px;
  border: 1px #7b9194;
  border-bottom: 1px solid #333333;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
}

.design-block{
  padding: 30px;
  background-color: #eaedff;
  border-radius: 15px;
  font-family: 'DM Sans', Helvetica, Arial, sans-serif;
  margin-top: 50px;
}
.block-title{
  padding-top: 20;
  margin-bottom: 0;
  padding-bottom: 0;
  color: rgb(46, 55, 122);
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.design-card{
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 20px;
  color: rgb(46, 55, 122);
    background-color: #ffffff;
    border-radius: 15px;
    justify-content: space-around;
    align-items: center;
}
.title-icon{
  display: flex;
  align-items: center;

}

.icon{
  padding: 5px;
  font-size: 17px;
}

.reveal{
  position: relative;
  transform: translateY(200px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(50);
  opacity: 1;
}

mark {
  -webkit-animation: 1.5s highlight 0s 1 normal forwards;
          animation: 1.5s highlight 0s 1 normal forwards;
  background-color: none;
  background: linear-gradient(90deg, #ffe1c4 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
}

@-webkit-keyframes highlight {
  to {
    background-position: 0 0;
  }
}

@keyframes highlight {
  to {
    background-position: 0 0;
  }
}

:focus {
  color: #000;
  background-color: rgb(255, 214, 51);
}